@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    color: black;
}

.container{
    padding: 7% 15%;
}

.shadow{
    padding: 0;
    margin: o;
    display: flex;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    overflow: hidden;
}

.image{
    background-image: url(/image/login/loginBack.jpg);
    background-size: cover;
    padding: 35px;
    height: 500px;
    width: 680px;
}

.image h4{
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}

.image .texts{
    margin-top: 120px;
    font-weight: 400;
    text-align: center;
    color: white;
}

.image .texts h5{
    font-weight: 400;
    font-size: 30px;
    color: white;
}

.image .texts h2{
    font-size: 70px;
    font-weight: 600;
    line-height: 1;
}

.image .texts .underline{
    width: 80px;
    height: 10px;
    background-color: white;
    border-radius: 30px;
    margin-left: 200px;
    margin-top: 15px;
}

.form-div{
    padding: 6%;
    width: 600px;
}

.form-div h3{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    color: #082AAF;
}

.form-div input{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    font-size: 20px;
    border: none;
    background-color: rgba(0, 0, 255, 0.1);
    border-left: 10px solid #082AAF;
}

.form-div button{
    border: none;
    margin-top: 32px;
    width: 100%;
    height: 40px;
    background-color: #1646F0;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    margin-bottom: 15px;
}

.form-div .center{
    text-align: center;
}

.center a{
    color: #1646F0;
    font-weight: 600;
}


/*-----------------snack box ------------------*/

#toastbox{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    overflow: hidden;
    padding: 20px;
    padding-bottom: 5px;
}

.toast{
    position: relative;
    width: 400px;
    height: 80px;
    background-color: white;
    font-weight: 500;
    margin: 20px 0;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    transform: translateX(100%);
    animation: moveLeft 0.5s linear forwards;
}

@keyframes moveLeft {
    100%{
        transform: translateX(0);
    }
}

.toast i{
    margin: 0 20px;
    font-size: 35px;
    color: green;
}

.toast.error i{
    color: red;
}

.toast.invalid i{
    color: orange
}

.toast::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: green;
    animation: anim 5s linear forwards;
}

@keyframes anim {
    100%{
        width: 0;
    }
}

.toast.error::after{
    background: red;
}

.toast.invalid::after{
    background: orange;
}